.site-list {
            overflow: hidden;
            display: block;
            margin: 50px 0 16px 0px;
        }
        .site-list .templ {
            background:#ffffff;

            width:198px;

            margin-top: 20px;
            margin-right: 30px;
        }
        .site-list .templ .bd {
            background: url("/imgbrowser.png") 0 0 no-repeat;
            background:#ffffff;

            width:198px;
            height:198px;
        }


        .site-list .templ h3  {
            family:MicrosoftYaHei;
            font-size:12px;
            color:#666666;
            letter-spacing:0.99px;
            text-align: center;
        }

.site-list .templ h3  a {
    family:MicrosoftYaHei;
    font-size:12px;
    color:#666666;
    letter-spacing:0.99px;
    text-align: center;
}
        .site-list .templ img {
            width: 100%;
        }

        .blank-tips .tips{
            font-family:MicrosoftYaHei;
            font-size:20px;
            color:#cccccc;
            letter-spacing:1.66px;
            margin-bottom: 30px;
        }

.blank-tips .btn{
    margin-right: 30px;
}

