#banner, .banner{

    height: 740px;
    background-size: cover;
}


#banner .carousel-control span{
    display: none;
}

.cta-text{
    margin-top: 205px;
    text-align: center;
}

.cta-text h1{
    font-family:MicrosoftYaHei;
    font-size:45px;
    color:#ffffff;
}

.cta-text  .create{
    border:1px solid #00c4d8;
    border-radius:4px;
    width:212px;
    height:46px;
    font-size:18px;
    color:#00d9ef;
    display: inline-block;
    vertical-align: middle;;
    line-height: 46px;
    margin-top: 87px;
}


.banner-1 {
    background: url("http://dotlinkface-cdn.oss-cn-shanghai.aliyuncs.com/banner-0.png") no-repeat center;
    background-size: cover;

}
.banner-2 {
    background: url("http://dotlinkface-cdn.oss-cn-shanghai.aliyuncs.com/banner-1.png") no-repeat center;
    background-size: cover;
}
.banner-3 {
    background: url("http://dotlinkface-cdn.oss-cn-shanghai.aliyuncs.com/banner-2.png") no-repeat center;
    background-size: cover;
}

