#nav.home {
  position: absolute;
  top:20px;
  left:0;
  width: 100%;
z-index: 99;
  background-color: transparent;
}


#nav.home .navbar-right {
    color: #FFF;

}
#nav.home  a {
    color: #FFF;

}

#nav.home  a:hover {

color:#00c2d6;
background-color:transparent;
}




h3.header{
  font-family:MicrosoftYaHei;
  font-size: 36px;
  letter-spacing:2.5px;
  margin-top: 75px;
  text-align: center;
}
p.header-desc{
  font-size:13px;
  color:#666666;
  letter-spacing:1.85px;
  text-align:center;
  line-height: 30px;
  margin-top: 25px;
}
.ocode .header-desc {
  margin-bottom: 80px;
}



