.signup-page .signup{
  margin:100px auto 200px auto;
}


.signup-page .signup .form-signin-heading{
  font-family:MicrosoftYaHei;
font-size:30px;
color:#00c4d8;
text-align: center;

margin-bottom: 20px;
margin-top: 0;

}

.signup-page .signup{
  background:#f0f0f0;
  border-radius:3px;
  width:520px;
  padding: 20px 60px 20px 60px;

}


.signup-page .signup .type{

  font-family:MicrosoftYaHei;
  font-size:12px;
  color:#999999;
text-align: center;

margin-bottom: 30px;
margin-top: 0;

}
.signup-page .signup  .third-logo{
  text-align: center;
  margin-top: 26px;
}
.signup-page .signup  .third-logo a{
width: 50px;
height: 50px;
margin: 0 17px;
display: inline-block;
border-radius: 100%;


}
.signup  .third-logo a.weibo{
  background: url(../../../img/weibo.png) center no-repeat;
  background-size: contain;
}
.signup  .third-logo a.qq{
  background: url(../../../img/qq.png) center no-repeat;
  background-size: contain;
}
.signup  .third-logo a.tudou{
  background: url(../../../img/tudou.png) center no-repeat;
  background-size: contain;
}
.signup  .third-logo a.renren{
  background: url(../../../img/renren.png) center no-repeat;
  background-size: contain;
}

.signup-page .signup input{
  background:#ffffff;
border:1px solid #dddddd;
width:398px;
height:38px;
margin-top: 20px;
  font-size: 12px;

}

.signup-page .signup .phone-box{
  background:#ffffff;
  border:1px solid #dddddd;
  width:398px;
  height:40px;
  margin-top: 20px;
  position: relative;
}

.signup-page .signup .phone-box .phone-input{

  width:186px;
  height:38px;
  margin: 0;
  border: none;
  padding: 0px 12px;
  color: #555;
}

.signup-page .signup .phone-box input::-webkit-input-placeholder{
  color: #999;
}

.signup-page .signup .phone-box .code-input{
  width:100px;
  height:26px;
  margin: 0;
  border: none;
  padding: 0px 8px;
  margin-top: 5px;
  border-left: solid 1px #ccc;
  color: #555;
}


.signup-page .signup .phone-box .code-active{
 display: inline-block;
}


.signup-page .signup .code-button{

  margin: 0;
  border: none;
  padding: 0px 12px;
  border: solid 1px #ccc;
  width: 112px;
  height: 40px;
  border:solid 1px #00C4D8;
  background-color: #EFFEFF;
  color: #00C4D8;
  position: absolute;
  top:-1px;
  right: -1px;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.signup-page .signup .code-button.active{



  border:solid 1px #DDDDDD;
  background-color: #F0F0F0;
  color: #999999;

}

.signup-page .signup .help-block{
  color: #FF0404;
  font-size: 12px;

}




.signup-page .signup .btn{
  text-align: center;
  line-height: 34px;
  padding: 0;
  border:1px solid #00c4d8;
border-radius:4px;
width:118px;
height:34px;

font-size:14px;
color:#00c4d8;
background-color: transparent;
display: block;
margin:auto;
margin-top: 22px;
}

.signup-page .signup .login{
  text-align: center;
    margin-top: 13px;
}
.signup-page .signup .login a{
  font-size:12px;
  color:#999999;

  text-align:center;
}
